div.table {
  display: table;
  border: thin dashed #dc143c;
  margin-bottom: 2px;
}

div.tableRow {
  display: table-row;
}

section.avatarBlock {
  display: table-cell;
  text-align: right;
}

section.info {
  display: table-cell;
  vertical-align: top;
  width: 100%;
  /*horiz-align: left;*/
}

img.avatar {
  width: 70px;
  border: medium solid lightslategrey;
  margin: 5px 5px 0px 5px;
}

div.avatarBlock {
  display: block;
}

div.wrapper {
  width: 60%;
  margin: auto;
  padding: 10px;
  border: thin solid lightslategrey;
}

div.button {
  text-align: center;
  margin: 3px;
  font-weight: bold;
}

div.button button {
  border-radius: 8px;
  color: brown;
  background-color: lightslategrey;
}

div.button button:hover {
  color: cornflowerblue;
  background-color: wheat;
}

.caption {
  font-weight: bold;
}
