.error span {
  display: block;
  text-align: center;
  font-size: small;
  font-weight: bold;
  color: crimson;
}

.textAreaError {
  border: 2px solid red;
}

.textArea {
  display: block;
  width: 99%;
  margin-top: 5px;
}
